.post-image{
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

.file{
  visibility: hidden;
}

.upload-area{
  background-color: rgb(70, 66, 66);
  border-radius: 10px;
  text-align: center;
  color: rgb(185, 185, 185);
  min-width: 100%;

  &:active{
    border: 1px solid rgb(185, 185, 185);
  }
}
