.allContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  overflow: hidden;
}

.line {
  height: 92vh;
  margin-top: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.displayedPost {
  zoom: 65%;
  width: 20vw;
}

.read-here-body{
  background-color: #f8a145;
  padding: 1rem;
  border-radius: 10px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  width: 70vw;
  height: 100vh;

  margin-top: 4vh;

  .postDisplayRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    margin-bottom: 5vh;
    height: 31.5vh;
  }

  .bottomRow {
    // display: flex;
    // flex-direction: column;
    height: 22vh;
    margin-top: 6vh;

    .titleText {
      font-size: large;
      font-weight: 600;
      color: #292828;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .helpTextContainer {
      background-color: #f8a145;
      padding: 0.5vw;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .helpText {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 40vw;
        font-size: larger;
        font-weight: 530;
        margin: 0.4vw;
        margin-left: 1.5vw;
        color: aliceblue;
      }
    }

  }
}
.prizeImage {
  position: absolute;
  margin-left: 2vw;
  width: 13vw;
  // width: 15vw;
  // right: 37vw;
  bottom: -40px;
}
.bottom-container{
  position: absolute;
  width: 60vw;
  bottom: 20px;
}

.read-here{
  color: black;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;

  width: 30vw;
  height: 100vh;
  margin-top: 3.5vh;
  margin-bottom: 1vh;
  margin-right: 2vw;
  gap: 1.5vh;

  .topDisplayedPostContainer {
    position: relative;
    width: 20vw;
    zoom: 85%;
  }

  .medal {
    position: absolute;
    z-index: 1;
    width: 5vw;
    height: 5vw;
    top: -3vh;
    right: -2.5vw;
  }

  .silver {
    top: 32.2vh;
    right: -0.4vw;
  }

  .bronze {
    top: 63.5vh;
    right: -0.4vw;
  }
}
