<div class="allContainer">
  <div class="leftColumn">
    <div class="postDisplayRow">
      <app-post-card
        style="zoom: 70%; width: 35vw"
        [post]="displayedPosts[0]._id !== '' ? displayedPosts[0] : undefined"
      ></app-post-card>
      <app-post-card
        style="zoom: 70%; width: 35vw"
        [post]="displayedPosts[1]._id !== '' ? displayedPosts[1] : undefined"
      ></app-post-card>
    </div>

    <div class="postDisplayRow">
      <app-post-card
        style="zoom: 70%; width: 35vw"
        [post]="displayedPosts[2]._id !== '' ? displayedPosts[2] : undefined"
      ></app-post-card>
      <app-post-card
        style="zoom: 70%; width: 35vw"
        [post]="displayedPosts[3]._id !== '' ? displayedPosts[3] : undefined"
      ></app-post-card>
    </div>

    <div class="bottomRow">
      <div class="titleText">Ε, ΔΙΑΒΑΣΕ ΕΔΩ!</div>
      <div class="helpTextContainer">
        <div class="helpText">
          Παίξε παιχνίδια για να <s>περάσεις καλά</s> μαζέψεις πόντους και να
          κερδίσεις ένα από τα 3 δώρα... μικρέ μου καπιταλιστή
        </div>

        <img
          class="prizeImage"
          src="../../../../../assets/Images/postsWall/prizes/edifier.png"
        />

        <img
          class="prizeImage"
          src="../../../../../assets/Images/postsWall/prizes/powerbank.png"
        />

        <img
          class="prizeImage"
          src="../../../../../assets/Images/postsWall/prizes/carHolder.png"
        />
      </div>
    </div>
  </div>

  <img class="line" src="../../../../../assets/Images/postsWall/line.png" />
  <!-- Top Three -->
  <div class="rightColumn">
    <img
      class="medal gold"
      src="../../../../../assets/Images/postsWall/medals/1st place.png"
    />
    <img
      class="medal silver"
      src="../../../../../assets/Images/postsWall/medals/2nd place.png"
    />
    <img
      class="medal bronze"
      src="../../../../../assets/Images/postsWall/medals/3rd place.png"
    />
    <app-post-card
      class="displayedPost"
      [post]="topThreePosts[0]"
    ></app-post-card>
    <app-post-card
      class="displayedPost"
      [post]="topThreePosts[1]"
    ></app-post-card>
    <app-post-card
      class="displayedPost"
      [post]="topThreePosts[2]"
    ></app-post-card>
  </div>
</div>

<!-- <div *ngFor="let post of topThreePosts">
  <div style="max-width: 700px; max-height: 325px; scale: 70%">
    <app-post-card [post]="post"></app-post-card>
  </div>
</div> -->
