<div class="allContainer">
  <div class="leftColumn">
    <div class="row">
      <div *ngFor="let post of displayedPosts" class="col-4 gap-2 mt-4">
        <app-post-card
          [minHeight]="true"
          class="displayedPost"
          [post]="post"
        ></app-post-card>
      </div>
    </div>
    <div class="bottom-container">
      <div class="fs-4">
        <span class="read-here">ΔΙΑΒΑΣΕ ΕΔΩ!</span>
        <div class="fs-3 read-here-body d-flex">
          <div>
            Παίξε παιχνίδια για να <s>περάσεις καλά</s> μαζέψεις πόντους και να κερδίσεις <br> ένα από τα 3 δώρα... μικρέ μου καπιταλιστή
          </div>
          <div>
            <img
              class="prizeImage"
              src="../../../../../assets/Images/postsWall/prizes/prize.png"
            />
          </div>
        </div>
      </div>
      <!-- <div class="bottomRow">
        <div class="titleText">Ε, ΔΙΑΒΑΣΕ ΕΔΩ!</div>
        <div class="helpTextContainer">
          <div class="helpText">
            Παίξε παιχνίδια για να <s>περάσεις καλά</s> μαζέψεις πόντους και να
            κερδίσεις ένα από τα 3 δώρα... μικρέ μου καπιταλιστή
          </div>

          <img
            class="prizeImage"
            src="../../../../../assets/Images/postsWall/prizes/prize.png"
          />
        </div>
      </div> -->
    </div>
  </div>

  <img class="line" src="../../../../../assets/Images/postsWall/line.png" />
  <!-- Top Three -->

  <div class="rightColumn">
    <h1 style="color: black; font-size: 2.3vw">YOUR TOP POSTS</h1>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/1st place.png"
      />

      <app-post-card
        [minHeight]="true"
        class="displayedPost"
        [post]="topThreePosts[0]"
      ></app-post-card>
    </div>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/2nd place.png"
      />

      <app-post-card
        [minHeight]="true"
        class="displayedPost"
        [post]="topThreePosts[1]"
      ></app-post-card>
    </div>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/3rd place.png"
      />

      <app-post-card
        [minHeight]="true"
        class="displayedPost"
        [post]="topThreePosts[2]"
      ></app-post-card>
    </div>
  </div>
</div>
