<div class="allContainer">
  <div class="leftColumn">
    <div class="postDisplayRow">
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[0]._id !== '' ? displayedPosts[0] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[1]._id !== '' ? displayedPosts[1] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[2]._id !== '' ? displayedPosts[2] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[3]._id !== '' ? displayedPosts[3] : undefined"
      ></app-post-card>
    </div>

    <div class="postDisplayRow">
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[4]._id !== '' ? displayedPosts[4] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[5]._id !== '' ? displayedPosts[5] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[6]._id !== '' ? displayedPosts[6] : undefined"
      ></app-post-card>
      <app-post-card
        class="displayedPost"
        [post]="displayedPosts[7]._id !== '' ? displayedPosts[7] : undefined"
      ></app-post-card>
    </div>

    <div class="bottomRow">
      <div class="titleText">Ε, ΔΙΑΒΑΣΕ ΕΔΩ!</div>
      <div class="helpTextContainer">
        <div class="helpText">
          Παίξε παιχνίδια για να <s>περάσεις καλά</s> μαζέψεις πόντους και να
          κερδίσεις ένα από τα 3 δώρα... μικρέ μου καπιταλιστή
        </div>

        <img
          class="prizeImage"
          src="../../../../../assets/Images/postsWall/prizes/prize.png"
        />
      </div>
    </div>
  </div>

  <img class="line" src="../../../../../assets/Images/postsWall/line.png" />
  <!-- Top Three -->

  <div class="rightColumn">
    <h1 style="color: black; font-size: 2.3vw">YOUR TOP POSTS</h1>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/1st place.png"
      />

      <app-post-card
        class="displayedPost"
        [post]="topThreePosts[0]"
      ></app-post-card>
    </div>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/2nd place.png"
      />

      <app-post-card
        class="displayedPost"
        [post]="topThreePosts[1]"
      ></app-post-card>
    </div>

    <div class="topDisplayedPostContainer">
      <img
        class="medal"
        src="../../../../../assets/Images/postsWall/medals/3rd place.png"
      />

      <app-post-card
        class="displayedPost"
        [post]="topThreePosts[2]"
      ></app-post-card>
    </div>
  </div>
</div>
