<div class="container mt-2 d-flex justify-content-center">
  <div>
    <h1 class="text-center guestbook-orange-normal">Edifier Gang <br> Graduation Guestbook</h1>

    <div></div>

    <div class="d-flex justify-content-center mt-4">
      <div class="w-75">
        <div class="mt-4">
          <button class="guestbook-btn-main fs-2 w-100">Browse Posts</button>
        </div>
        <div class="mt-4">
          <button class="guestbook-btn-main fs-2 w-100">Create Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
